{% load static %}

<div class="container text-center" style="background-color: #DDD; padding-top: 3rem; padding-bottom: 1rem;" id="ajude">
    <h2 style="color:darkred; margin-bottom: 3rem;">Ajude-nos como Puder</h2>
    <div class="container" >
        <img src="{% static 'media/doe.jpg' %}" width="80%" height="40%"/>
    </div>
    <div class="container" style="margin-top: 2rem; padding-right: 3rem; padding-left: 3rem;">
        <div class="container" style="padding-right: 1rem;">
            <a type="button" class="btn btn-success btn-lg btn-block" href="https://atados.com.br/ong/viver-de-rir" target="_blank">Quero Ser Voluntário</a>
        </div>
        <div class="container" style="padding-right: 1rem; margin-top: 1rem;">
            <button type="button" class="btn btn-warning btn-lg btn-block" href="https://atados.com.br/ong/viver-de-rir" target="_blank" data-bs-toggle="modal" data-bs-target="#exampleModal">Quero ser Doador
                
            </button>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ajude a ONG</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    <img src="{% static 'media/nosajude-viverderir.png' %}" />"
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Voltar</button>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>


</div>