<div class="footer" style="text-align: center; padding-bottom: 2rem; background-color: #ffde59;">
    <div class="container">
        <div class="row" style="margin-top: 3rem;">
            <div class="col" style="align-content: center; width: 20%; justify-content: center; padding-top: 2rem;">
                <br>
                <p><strong>ONG - Viver de Rir</strong></p>
                <p>Av. Assis Brasil, 3257 - Passo d'Areia, Porto Alegre - RS, Brasil</p>
                <p>comunicação@viverderir.org</p>
            </div>
            <div class="col"
                style="align-content: center; width: 20%; justify-content: center; padding-top: 4rem;">
                <p>Acompanhe nossas Redes Sociais</p>
                <!-- Whatsapp -->
                <a href="https://api.whatsapp.com/send?phone=5551998589418&text=Sua%20ajuda%20ir%C3%A1%20nos%20auxiliar%20a%20continuar%20fazendo%20o%20bem%2C%20levando%20amor%20e%20carinho%20%C3%A0%20pessoas%20em%20situa%C3%A7%C3%A3o%20de%20fragilidade.%20"><i class="fab fa-whatsapp fa-5x" style="padding-right: 1rem;"></i></a>
                <!-- Instagram -->
                <a href="https://www.instagram.com/ongviverderir/"><i class="fab fa-instagram fa-5x" style="padding-left: 1rem; padding-right: 1rem;"></i></a>
                <!-- Youtube -->
                <a href="https://www.youtube.com/channel/UCxBodS-aRSXX4K341nd7M8Q"><i class="fab fa-youtube fa-5x" style="padding-left: 1rem; padding-right: 1rem;"></i></a>
                <!-- Facebook -->
                <a href="https://www.youtube.com/channel/UCxBodS-aRSXX4K341nd7M8Q"><i class="fab fa-facebook-f fa-5x" style="padding-left: 1rem;"></i></a>
            </div>
        </div>


    </div>
</div>