<div>
    <HeaderAppBar position={"sticky"}>
      <HeaderToolBar component={Container}>
        <Button variant="outlined" color="secondary">
          Início
        </Button>
        <Button variant="outlined" color="secondary">
          Sobre{" "}
        </Button>
        <Button variant="outlined" color="secondary">
          {" "}
          Blog
        </Button>
        <Button variant="outlined" color="secondary">
          Login
        </Button>

        <BotãoLogin variant="contained" color="secondary">
          Nos ajude
        </BotãoLogin>
      </HeaderToolBar>
    </HeaderAppBar>
  </div>