
    <div class="container text-center" style="background-color: #DDD; padding-top: 3rem; padding-bottom: 1rem;">
        <h2 style="color:darkred;">Fique por dentro das Novidades!</h2>
        <div class="row" style="margin-top: 3rem;">
            <div class="col" style="align-content: center; width: 20%;">
                <i class="far fa-envelope fa-10x"></i>
            </div>
            <div class="col" style="align-content: center; width: 20%; justify-content: center; padding-right: 7%; padding-top: 3.5rem;">
               <a type="button" class="btn btn-success btn-lg btn-block" href="https://docs.google.com/forms/d/e/1FAIpQLSd7BaFj4G4O-Zy35_1dVdcXT5vN9F_BlFpHCdbJU9X7R_uAOg/viewform" target="_blank">Increva-se para Novidades</a>
            </div>
        </div>
    </div>
