<section>
    <div class="container text-center" style="background-color: #ffde59; padding-top: 2rem; padding-bottom: 2rem;">
        <h2 style="color:darkred;">Nossas ações ajudam a mudar o mundo!</h2>
        <div class="row" style="margin-top: 6rem;">
            <div class="col" style="align-content: center; width: 20%;">
                <i class="fas fa-handshake fa-5x"></i>
                
                <div class="container" style="margin-top: 2rem;">
                    <h2 >{{ dados_ong.voluntarios }}</h2>
                    <h4>Voluntários</h4>
                </div>
                
            </div>
            <div class="col" style="align-content: center; width: 20%;">
                <i class="fas fa-hand-holding-medical fa-5x"></i>

                <div class="container" style="margin-top: 2rem;">
                    <h2>{{ dados_ong.visitas_mes }}</h2>
                    <h4>Visitas/ Mês</h3>
                </div> 
            </div>
            <div class="col" style="align-content: center; width: 20%;">
                <i class="fas fa-hand-holding-heart fa-5x"></i>
                <div class="container" style="margin-top: 2rem;">
                
                <h2>{{ dados_ong.pessoas_impactadas }}</h2>
                <h4>Pessoas Impactadas/ Mês</h4>
            </div>
            </div>
            <div class="col" style="align-content: center; width: 20%;">
                <i class="fas fa-user-clock  fa-5x"></i>
                <div class="container" style="margin-top: 2rem;">
               
                <h2>{{ dados_ong.horas_doadas }}</h2>
                <h4>Horas Doadas/ Mês</h4>
            </div>
            </div>
        </div>
    </div>
</section>